@model ScadaWeb.Model.ScadaEquipmentModel
@{
    ViewBag.Title = "历史数据查询";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<style>
    body {
        background-color: white;
    }
</style>
<!--模糊搜索区域-->
<div class="layui-row">
    <form class="layui-form layui-col-md12 ok-search" lay-filter="formTest">
        <input id="Id" name="Id" type="hidden" class="layui-input" value="@Model.Id" lay-filter>
        <input id="GroupId" name="GroupId" type="hidden" class="layui-input" value="@Model.GroupId" lay-filter>
        <input id="DeviceId" name="DeviceId" type="hidden" class="layui-input" value="@Model.DeviceId" lay-filter>
        <input id="ServerId" name="ServerId" type="hidden" class="layui-input" value="@Model.ServerId" lay-filter>
        <input id="CommunicationId" name="CommunicationId" type="hidden" class="layui-input" value="@Model.CommunicationId" lay-filter>
        <div class="layui-input-inline">
            <input class="layui-input" placeholder="开始日期" autocomplete="off" name="StartDate" id="StartDate" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd HH:mm:ss")">

        </div>
        <div class="layui-input-inline">
            <input class="layui-input" placeholder="结束日期" autocomplete="off" name="EndDate" id="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
        </div>
        @Html.SearchBtnHtml("查询")
        @Html.ResetBtnHtml()

    </form>
</div>
<!--数据表格-->
<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>

<script>

    layui.use(["table", "form", "okLayer", "okUtils", "treeSelect", "laydate"], function () {
        let table = layui.table;
        let form = layui.form;
        let treeSelect = layui.treeSelect;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;

        let startdate = layui.laydate;
        let enddate = layui.laydate;
        var $ = layui.$;
        var cols = [];
        function InitCols() {
            var paras = JSON.parse('@MvcHtmlString.Create(Model.JsonParas)');
    

            cols.push({ field: "DateStampTime", title: "采集时间", width: 180 });
            for (var i = 0; i < paras.length; i++) {
                cols.push({ field: paras[i].ParaName, title: paras[i].ParaTitle + " " + paras[i].ParaUnit, width: 120, });
            }

        };
        InitCols();

        startdate.render({
            elem: '#StartDate'
            , type: 'datetime'
        });
        enddate.render({
            elem: '#EndDate'
            , type: 'datetime'
        });
        let AllTable = table.render({
            elem: "#tableId",
            url: "/Scada/ScadaEquipment/EquipmentHistoryData",
            limit: 1000,
            limits: [100, 200, 300, 500, 600, 800, 1000, 1500, 2000, 3000],
            width: document.body.clientWidth - 10,
            height: 'full-80',
            page: true,
            loading: true,
            id: 'HistoryGrid',
            toolbar: "#toolbarTpl",
            jump: function (obj, first) {
                if (!first) {
                    layer.msg('第 ' + obj.curr + ' 页');
                }
            },
            size: "sm",

            cols: [cols],
            done: function (res, curr, count) {

            },
            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                var result = eval('(' + res + ')');
                return result;
            }
        });


        //数据表定时加载

        form.on("submit(search)", function (data) {

            AllTable.reload({
                where: data.field,
                page: { curr: 1 }

            });
            return false;
        });


        form.render(); //更新全部


    })
</script>



